/* https://colorhunt.co/palette/ff78c4e1aeffffbdf7ffecec */
@tailwind base;
@tailwind components;
@tailwind utilities;
nav{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.25);
}